
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayouts.cshtml";
}
@section SidebarMenu
{
    @Html.Action("SidebarMenu", "AdminHome")
}
@section NavBar{
    @Html.Action("NavBar", "AdminHome")
}
@section Footer
{
    @Html.Action("Footer", "AdminHome")
}

<div class="container-fluid">

    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Trang chủ Admin</h1>
    </div>

    <!-- Content Row -->
    <div class="row">

        <!-- Earnings (Monthly) Card Example -->
        @{ Html.RenderAction("SoLuongNhanVien", "AdminHome");}

        <!-- Earnings (Monthly) Card Example -->
        @{ Html.RenderAction("SoLuongKhachHang", "AdminHome");}

    </div>


</div>
