<footer class="site-footer border-top" style="background: #BFCAE6">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 mb-5 mb-lg-0">
                <div class="row">
                    <div class="col-md-12">
                        <h3 class="footer-heading mb-4">Navigations</h3>
                    </div>
                    <div class="col-md-6 col-lg-4">
                        <ul class="list-unstyled">
                            <li><a href="#">Sell online</a></li>
                            <li><a href="#">Features</a></li>
                            <li><a href="#">Shopping cart</a></li>
                            <li><a href="#">Store builder</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            @*<div class="col-md-6 col-lg-3 mb-4 mb-lg-0">
                <h3 class="footer-heading mb-4">Promo</h3>
                <a href="#" class="block-6">
                    <img src="images/hero_1.jpg" alt="Image placeholder" class="img-fluid rounded mb-4">
                    <h3 class="font-weight-light  mb-0">Finding Your Perfect Shoes</h3>
                    <p>Promo from  nuary 15 — 25, 2019</p>
                </a>
            </div>*@
            <div class="col-md-6 col-lg-3">
                <div class="block-5 mb-5">
                    <h3 class="footer-heading mb-4">Contact Info</h3>
                    <ul class="list-unstyled">
                        <<li><i class="fa fa-map-marker" aria-hidden="true"></i>156/16 đường số 2, khu phố 1, phường Tăng Nhơn Phú B, quận 9, TP. Hồ Chí Minh</li>
                        <li><i class="fa fa-mobile" aria-hidden="true"></i><a href="tel://23923929210">+84 334 493 334</a></li>
                        <li><i class="fa fa-envelope" aria-hidden="true"></i>nguyenbuitiep492@gmail.com</li>
                    </ul>
                </div>

            </div>
        </div>
       
    </div>
</footer>
