
@if (ViewBag.KiemTra != 0)
{
    <header class="site-navbar" role="banner" style="background: #FFFFFF">
        <div class="site-navbar-top">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-6 col-md-4 order-2 order-md-1 site-search-icon text-left">
                        <form action="" class="site-block-top-search">
                            <span class="icon icon-search2"></span>
                            <input type="text" class="form-control border-0" placeholder="Search">
                        </form>
                    </div>
                    <div class="col-12 mb-3 mb-md-0 col-md-4 order-1 order-md-2 text-center">
                        <div class="site-logo">
                            <a href="/" ref="nofollow" class="js-logo-clone" style="color:orangered; font-weight: bold">SHOP GIÀY</a>
                        </div>
                    </div>
                    <div class="col-6 col-md-4 order-3 order-md-3 text-right">
                        <div class="site-top-icons">
                            <a class="btn btn-secondary" href="/Store/Login">
                                <i class="fa fa-sign-in"></i> LOGIN
                            </a>
                            <a class="btn btn-secondary" href="/Store/Register">
                                <i class="fa fa-user-plus"></i>Register
                            </a>
                            <a class="fa fa-cart">
                                @{Html.RenderAction("GioHangPartial", "GioHang");}
                            </a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <nav class="site-navigation text-right text-md-center" role="navigation">
            <div class="container">
                <ul class="site-menu js-clone-nav d-none d-md-block">
                    <li><a href="/">Home</a></li>
                    <li><a href="/Store/About">About</a></li>
                    <li><a href="/Store/Shop">Shop</a></li>
                    <li><a href="Store/Contact">Contact</a></li>
                </ul>
            </div>
        </nav>

    </header>
}

@if (ViewBag.KiemTra == 0)
{
   
    <header class="site-navbar" role="banner">
        <div class="site-navbar-top" style="background-color: #FFFFFF">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-6 col-md-4 order-2 order-md-1 site-search-icon text-left">
                        <form action="" class="site-block-top-search">
                            <span class="icon icon-search2"></span>
                            <input type="text" class="form-control border-0" placeholder="Search">
                        </form>
                    </div>
                    <div class="col-12 mb-3 mb-md-0 col-md-4 order-1 order-md-2 text-center">
                        <div class="site-logo">
                            <a href="/" ref="nofollow" class="js-logo-clone" style="color:orangered; font-weight: bold">SHOP GIÀY</a>
                        </div>
                    </div>
                    <div class="col-6 col-md-4 order-3 order-md-3 text-right">
                        <div class="site-top-icons">
                            <button class="btn btn-secondary"><i class="fa fa-user fa-fw"></i>@Html.ActionLink(@Session["TenKH"].ToString(), "InfoCaNhan", "Store", new { @maKH = Session["UserID"] }, new { @style = "color: black"})</button>
                            <a  class="btn btn-secondary" href="/Store/Logout"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                            <a class="fa fa-cart">
                                @{Html.RenderAction("GioHangPartial", "GioHang");}
                            </a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <nav class="site-navigation text-right text-md-center" role="navigation" style="background:#55acee">
            <div class="container">
                <ul class="site-menu js-clone-nav d-none d-md-block">
                    <li><a href="/">Home</a></li>
                    <li><a href="/Store/About">About</a></li>
                    <li><a href="/Store/Shop">Shop</a></li>
                    <li><a href="Store/Contact">Contact</a></li>
                </ul>
            </div>
        </nav>
        <div class="clearfix">

        </div>
    </header>
    <div class="clearfix">

    </div>
}

