@model dynamic
<div class="border p-4 rounded mb-4">
    <h3 class="mb-3 h6 text-uppercase text-black d-block" style="color: black;  font-weight: 600 ; font-size: 20px">CATEGORIES</h3>
    <ul class="list-unstyled mb-0">
        @foreach (var item in Model)
        {
            <li class="mb-1"><a href="#" class="d-flex text-black" ><span>@item.TenLoai</span></a></li>
        }
    </ul>
</div>



